@page
@model DeleteRoleModel

<form method="post">
    <div class="form-group">
        <label for="RoleName">Role Name</label>
        <input type="text" class="form-control" id="RoleName" name="roleName" />
    </div>
    <button type="submit" class="btn btn-danger">Delete Role</button>
</form>
