@page
@model RemoveUserFromRoleModel

<form method="post">
     <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" />
    </div>
    <div class="form-group">
        <label for="RoleName">Role Name</label>
        <input type="text" class="form-control" id="RoleName" name="RoleName" />
    </div>
    <button type="submit" class="btn btn-danger">Remove User from Role</button>
</form>
